
<div class="wrapper div">
  <div id="quote-div" *ngIf="quote">
    <div class="text">
      <p>{{quote.content}}</p>
      <p>~ {{quote.author}}</p>
    </div>
    <div class="buttons">
      <a class="button" href="https://twitter.com/intent/tweet?text={{quote.content}} ~ {{quote.author}}" target="_blank" id="tweet" title="Tweet this quote">
        <i class="fa fa-twitter i" aria-hidden="true" ></i>
      </a>

      <a class="button" (click)="getRandomQuote()" id="new-quote" title="New quote">
        <i class="fa i" aria-hidden="true" >&#xf021;</i>
      </a>
    </div>
  </div>
  <div class="footer">by <a class="a" href="http://abirelhalimi.me" target="_blank">Abir El Halimi</a> </div>
</div>

